In [1]:
#Trabajo
import pandas as pd 
import requests as req
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.keys import Keys  # manejar teclas
import time
import warnings
from webdriver_manager.chrome import ChromeDriverManager
PATH=ChromeDriverManager().install()
warnings.filterwarnings('ignore')
from fake_useragent import UserAgent
usuario=UserAgent().random
print(usuario)

Opera/9.23 (Windows NT 5.1; U; fi)

#Instaladores
%pip install selenium
%pip install bs4
%pip install webdriver
%pip install webdriver_manager
%pip install fake_useragent

In [244]:
class buscador:
    def __init__(self, window_size=(1600, 1000)):
        options = webdriver.ChromeOptions()
        options.add_argument(f'window-size={window_size[0]},{window_size[1]}')
        self.driver=webdriver.Chrome(PATH, options=options)
        self.url='https://www.google.es/'
        #establesco los parametros para mi buscador, esto es para directamente realizar las busquedas desde aqui y no cambiar las paginas.
    def buscar(self, query):
        self.query=query
        self.driver.get(self.url+'/search?q='+self.query)
        time.sleep(2)
        try:
            self.driver.find_element(By.CSS_SELECTOR, '#L2AGLb').click()
        except:
            pass
    def mostrar(self,ruta):
        self.dic={e.find_element(By.CSS_SELECTOR, 'h3').text:e.find_element(By.CSS_SELECTOR, 'a').get_attribute('href') for e in self.driver.find_elements(By.CSS_SELECTOR, ruta) if e.text !='' }
        self.lista=[e.find_element(By.CSS_SELECTOR, 'h3').text for e in self.driver.find_elements(By.CSS_SELECTOR, ruta) if e.text !='']
        return self.lista
    #con esta def mostrar puedo ver los links de mi busqueda
    def entrar_en_url(self,titulo,cookies=None):
        self.cookies=cookies
        self.driver.get(self.dic[self.lista[titulo]])
        if self.cookies:
            try:
                self.driver.find_element(By.XPATH , self.cookies).click()
            except:
                 pass
    #de esta manera lo que hago es guardar las cookies en selenium. me falta activar el guradado de cookikes
    def mover(self,selection):
        self.dic_titles={e.text:[ o.text + o.get_attribute('href')  for a in e.find_elements(By.CSS_SELECTOR, 'ul') for o in a.find_elements(By.CSS_SELECTOR, 'a')] for e in self.driver.find_elements(By.CSS_SELECTOR , selection) if e.text !=''}
        self.list_titles=[e.text for e in self.driver.find_elements(By.CSS_SELECTOR , selection) if e.text !='']
        return self.list_titles
    def clic(self,titulo):
        return self.dic_titles[self.list_titles[titulo]]
    #esto otro es un funcion para la extraccion que aun no la defino porque me falta seguir investigando lo que quiero realizar, mientras procedere a otras pautas para mi proyecto de esta semana.
    def cerrar(self):
        self.driver.quit()

In [197]:
class automatic_nasa:
    def mover(self,selection):
        self.dic_titles={e.text:[ o.text + o.get_attribute('href')  for a in e.find_elements(By.CSS_SELECTOR, 'ul') for o in a.find_elements(By.CSS_SELECTOR, 'a')] for e in self.driver.find_elements(By.CSS_SELECTOR , selection) if e.text !=''}
        self.list_titles=[e.text for e in self.driver.find_elements(By.CSS_SELECTOR , selection) if e.text !='']
        self.dic_titles[self.list_titles[1]]
#aqui se puede ver porque estoy haiendo pruebas arriba para pasarlo a limpio aqui.

SyntaxError: unexpected EOF while parsing (2128782350.py, line 7)

#OBJETIVO
En esta parte del proyecto solo quiero poner aprueba mis funciones

In [245]:
mibuscador=buscador()
mibuscador.buscar('https://www.nasa.gov/topics/solarsystem/index.html')

In [246]:
mibuscador.mostrar('div.yuRUbf')

['Solar System and Beyond - NASA',
 'Solar System and Beyond Overview | NASA',
 'NASA Solar System Exploration: Home',
 'Solar System Videos | NASA',
 'Solar System And Beyond Press Releases | NASA',
 'Solar System and Beyond Images | NASA',
 'Solar System - NASA',
 'Solar System | NASA Space Place – NASA Science for Kids',
 'The Sun-Earth Connection: Heliophysics - NASA',
 'Watch the Skies | NASA']

In [247]:
mibuscador.entrar_en_url(0)

In [248]:
mibuscador.mover('li.dropdown')

['Topics',
 'Missions',
 'Galleries',
 'NASA TV',
 'Follow NASA',
 'Downloads',
 'About',
 'NASA Audiences']

In [242]:
mibuscador.clic(1)

['https://www.nasa.gov/artemis-1',
 'https://www.nasa.gov/exploration/commercial/crew/index.html',
 'https://www.nasa.gov/mission_pages/hubble/main/index.html',
 'https://www.nasa.gov/mission_pages/webb/main/index.html',
 'https://www.nasa.gov/mission_pages/juno/main/index.html',
 'https://www.nasa.gov/mission_pages/station/main/index.html',
 'https://www.nasa.gov/perseverance',
 'https://www.nasa.gov/content/goddard/parker-solar-probe',
 'https://www.nasa.gov/X59',
 'https://www.nasa.gov/launchschedule',
 'https://www.nasa.gov/missions/']

Aqui comienzo a trabajar con las apis como los csv para obtener informacion de mi proyecto, como es muy denso solo dejo ahora una pequeña parte de lo que estoy investigando para la continuacion que hare hasta mi proyecto final

In [166]:
with open('nasa', 'r') as archivo:
    contenido = archivo.read()
contenido=contenido.strip('\n')

In [9]:
data=req.get('https://data.nasa.gov/data.json?search=NASA+Spacecraft+Design+Criteria+%28SCDC%29').json()
df = pd.json_normalize(data['dataset'])

In [85]:
data=req.get(f'https://api.nasa.gov/techport/api/projects?api_key={contenido}').json()
consultas=pd.json_normalize(data['projects'])

In [90]:
consultas

      acronym  projectId title website lastUpdated
0                 106528                  2023-5-2
1                 106527                  2023-5-2
2                 106525                  2023-5-2
3                  94847                  2023-5-1
4                  90997                  2023-5-1
...       ...        ...   ...     ...         ...
16719               8437                2018-10-10
16720               8310                2018-10-10
16721              10118                2018-10-10
16722               5695                2018-10-10
16723               6639                2018-10-10

[16724 rows x 5 columns]

In [80]:
data2=req.get(f'https://api.nasa.gov/techport/api/projects/106528?api_key={contenido}').json()

In [81]:
pd.json_normalize(data2['project'])

,acronym,projectId,title,primaryTaxonomyNodes,additionalTaxonomyNodes,startTrl,currentTrl,endTrl,benefits,description,...,leadOrganization.stateTerritory.country.abbreviation,leadOrganization.stateTerritory.country.countryId,leadOrganization.stateTerritory.country.name,leadOrganization.stateTerritory.countryId,leadOrganization.stateTerritory.name,leadOrganization.stateTerritory.stateTerritoryId,leadOrganization.stateTerritoryId,leadOrganization.murepUnitId,leadOrganization.naorganization,leadOrganization.organizationTypePretty
0,AVIATE,106528,Robust and Resilient Autonomy for Advanced Air...,"[{'taxonomyNodeId': 10962, 'taxonomyRootId': 8...","[{'taxonomyNodeId': 10780, 'taxonomyRootId': 8...",3,3,6,"<p>During this integrated effort, a number of ...",<p>The long-term goal of this project is to de...,...,US,236,United States,236,Illinois,39,39,145637,False,Academia

In [17]:
df.columns
df=df[['accessLevel', 'landingPage', 'bureauCode', 'issued', '@type','title', 'programCode', 'distribution', 'accrualPeriodicity', 'theme','spatial', 'language', 'graphic-preview-description','series-name', 'creator', 'dataQuality', 'editor',]]

In [22]:
data2=req.get('https://data.nasa.gov/data.json?search=NASA+Spacecraft+Materials+and+Processes+%28SM%26P%29')
df2= pd.json_normalize(data,['dataset'])

In [113]:
df2[df2.columns[df2.isna().any()].tolist()].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22149 entries, 0 to 22148
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   bureauCode                   22138 non-null  object
 1   references                   11670 non-null  object
 2   keyword                      22145 non-null  object
 3   programCode                  22138 non-null  object
 4   distribution                 12858 non-null  object
 5   accrualPeriodicity           12141 non-null  object
 6   theme                        21168 non-null  object
 7   license                      7019 non-null   object
 8   citation                     9789 non-null   object
 9   temporal                     10361 non-null  object
 10  spatial                      9735 non-null   object
 11  language                     9940 non-null   object
 12  graphic-preview-description  4559 non-null   object
 13  graphic-preview-file         5396 non-null   object
 14  data-presentation-form       1943 non-null   object
 15  release-place                3328 non-null   object
 16  series-name                  2751 non-null   object
 17  creator                      3712 non-null   object
 18  dataQuality                  157 non-null    object
 19  editor                       108 non-null    object
 20  issue-identification         66 non-null     object
 21  describedBy                  169 non-null    object
 22  describedByType              14 non-null     object
 23  rights                       3 non-null      object
 24  systemOfRecords              1 non-null      object
dtypes: object(25)
memory usage: 4.2+ MB

In [165]:
#limpieza sobre datos de meteoritos

In [154]:
MET=pd.read_csv('Meteorite_Landings.csv')
MET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [155]:
MET[['mass (g)', 'year', 'reclat', 'reclong']]=MET [['mass (g)','year','reclat', 'reclong']].fillna(0.00)
MET = MET.rename(columns={'mass (g)': 'mass_g'})

In [160]:
MET['year']=MET['year'].astype(int)

In [161]:
MET['GeoLocation']=MET ['GeoLocation'].fillna('desconocido')

In [162]:
MET

,name,id,nametype,recclass,mass_g,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976,33.98333,-115.68333,"(33.98333, -115.68333)"

In [163]:
MET.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass_g       45716 non-null  float64
 5   fall         45716 non-null  object
 6   year         45716 non-null  int32
 7   reclat       45716 non-null  float64
 8   reclong      45716 non-null  float64
 9   GeoLocation  45716 non-null  object
dtypes: float64(3), int32(1), int64(1), object(5)
memory usage: 3.3+ MB

Para mostrar los conocimientos aprendidos usare brevemente en sql la incorporacion de estos datos. que mas adelante procedere a especificarlos.

In [115]:
import mysql.connector as conn

In [116]:
conexion = conn.connect(host='127.0.0.1',                      #nombre del server
                        user='root',                           #nombre del usuario
                        passwd='Sebitas18Da')                  #contraseña del server
cursor = conexion.cursor()

In [117]:
cursor.execute('drop database if exists Nasa;')
cursor.execute('create database Nasa;')

In [118]:
db=conn.connect(host='127.0.0.1',
                user='root',
                passwd='Sebitas18Da',
                database='Nasa')
cursor=db.cursor()

In [119]:
def insertor(df,table):
    nombre_table2=table
    nombre_columns2=','.join(df.columns)
    for e in range(len(df)):
        valores=tuple(df.iloc[e].values)
        insert_query = f'insert into {nombre_table2} ({nombre_columns2}) values {valores}'
        cursor.execute(insert_query)

In [164]:
cursor.execute('drop table if exists Meteoritos;')
query='''
create table Meteoritos (
name varchar(100),
id int primary key not null,
nametype varchar(40),
recclass varchar(100),
mass_g float,
fall varchar(40),
year int,
reclat float,
reclong float,
GeoLocation varchar(100))'''
cursor.execute(query)
insertor(MET,'Meteoritos')